/* App.css */

/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  padding: 20px;
}

/* Container Styles */
.grid-container,
.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}

/* Card Styles */
.grid-card,
.list-card {
  box-sizing: border-box;
  width: 300px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.grid-card img,
.list-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Search Input and Button Styles */
input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
  box-sizing: border-box;
  /* justify-content: center;
  align-items: center; */
  margin-left: 220px;
}

button {
  padding: 10px;
  background-color: #6a76b2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  margin: 20px;
}

/* Highlight Style for Search Results */
.highlight {
  background-color:none;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .grid-card,
  .list-card {
    width: 100%;
  }
}

/* List View Styles */
.list-container {
  flex-direction: column;
}

/* Grid View Styles */
.grid-container {
  justify-content: flex-start;
}

.grid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.grid-card h3 {
  margin-top: 10px;
}

.grid-card ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.grid-card li {
  margin: 5px 0;
}
